---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">
	<div class="wrap">
		{% if page.main_image %}
			<img src="{{ page.main_image }}" alt="{{ page.title }}">
		{% endif %}
		{% if page.buttons %}
			<p>
				{% for button in page.buttons %}
					<a href="{{ button.buttontarget }}" class="button button--large">{{ button.buttonlabel }}</a>
				{% endfor %}
			</p>
		{% endif %}

		{{ page.content }}

		{% if page.quotes %}
			<hr>
			{% for quote in page.quotes %}
				<blockquote>
					<p>"{{ quote.quotetext }}" - <a href="{{ quote.quotesource }}">{{ quote.quoteauthor }}</a></p>
				</blockquote>

			{% endfor %}
		{% endif %}
		{% if page.streetcreds %}
			<hr>
			<ul>
			{% for cred in page.streetcreds %}
				<li>
					{{ cred }}
				</li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if page.gallery %}
			<hr>
			<div class="gallery" data-columns="1">
				{% for image in page.gallery %}
					<img src="{{ image }}"">
				{% endfor %}
			</div>
		{% endif %}

		{% if page.videos %}
			<hr>
			{% for video in page.videos %}
				<p><a href="{{ video.videoattriblink }}"><em>{{ video.videoattrib }}</em></a></p>
				<div class="video-wrap">
					<div class="video" style="padding-bottom:56.25%;">
						<iframe src="{{ video.videosource }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if page.sandgardeners %}
			<hr>
			<h2><i class="fab fa-fort-awesome-alt"></i> This is a Sand Gardeners project</h2>
			<p>The <a href="https://sandgardeners.itch.io">Sand Gardeners</a> are conceptual artist <a href="https://twitter.com/browniecove" target="_blank" rel="nofollow noopener">Sam Machell</a> and visual programmer Colin Le Duc, sometimes in collaboration with master mapmaker <a href="https://twitter.com/oldloths" target="_blank" rel="nofollow noopener">Marc Loths</a>.<br>
			</p>
			<p>
				They are interested, varyingly, in lost futures, haunted texts, and psychedelic memories of abandoned worlds.<br>
			</p>
			<p>
				They have exhibited work internationally, across the fields of video games, playful installation, and visual art.</br>
			</p>
		{% endif %}
	</div>
</section>